<%= render 'shared/flash' %>
<div class="jumbotron issue-index">
  <h3>User Details</h3>
  <p>Name: <%= @user.name %></p>
  <p>Email: <%= @user.email %></p>
  <p>Has access to: </p>
  <span>
    <% if @user.section.employee %>
      Employee Section,
    <% end %>
    <% if @user.section.brand %>
      Brand Section,
    <% end %>
    <% if @user.section.category %>
      Category Section,
    <% end %>
    <% if @user.section.item %>
      Item Section,
    <% end %>
    <% if @user.section.storage %>
      Storage Section,
    <% end %>
    <% if @user.section.issue %>
      Issue Section
    <% end %>
  <span>
</div>
