<%= render 'shared/flash' %>
<div class="login-content">
    <img src="/assets/google.jpg" class="google-icon">
    <%= link_to "Log In with Google", '/auth/google_oauth2',method: :get,class:'btn btn-primary login-button' %>
</div>
